@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .font-outline-1 {
    -webkit-text-stroke: 1px black;
  }
  .font-outline-4 {
    -webkit-text-stroke: 4px black;
  }

  body {
    --margin: 60px;
    user-select: none;
    background-color: black;
    margin: var(--margin);
    height: calc(100vh - var(--margin)*2);
    width: calc(100vw - var(--margin)*2);
    z-index: 6;
  }

  #root {
    height: 100%;
    background-color: rgb(32, 32, 32);
    padding: 20px;
    border-radius: 20px;
    animation: rainbow-box-shadow 10s linear;
    animation-iteration-count: infinite;
  }

  .start,
  .spanCount,
  .spanTimer,
  .spanRestart {
    animation: rainbow-text-shadow 10s linear;
    animation-iteration-count: infinite;
  }

  .timeInput{
    background-color: rgb(32, 32, 32);
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    animation: rainbow-border 10s linear infinite;
    text-align: center;
    appearance: textfield;
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
  }
  
  .up-and-down{
    animation: rainbow-border 10s linear infinite, up-and-down .5s linear infinite;
  }

  .timeInput::placeholder{
    text-align: center;
  }

  .timeInput::-webkit-outer-spin-button,
  .timeInput::-webkit-inner-spin-button {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    margin: 0;
  }

  @keyframes up-and-down{
    0%, 50%, 100%{
      transform: translateY(0px);
    }
    25%, 75%{
      transform: translateY(-10px);
    }
  }

  @keyframes rainbow-text-shadow {
    100%,
    0% {
      text-shadow: 0 0 10px rgba(255, 255, 255, 0),
        0 0 20px rgba(255, 255, 255, 0), 0 0 30px rgb(255, 0, 0),
        0 0 40px rgb(255, 0, 0), 0 0 50px rgb(255, 0, 0),
        0 0 60px rgb(255, 0, 0), 0 0 70px rgb(255, 0, 0),
        0 0 80px rgb(255, 0, 0), 0 0 90px rgb(255, 0, 0),
        0 0 100px rgb(255, 0, 0);
    }
    8% {
      text-shadow: 0 0 10px rgba(255, 255, 255, 0),
        0 0 20px rgba(255, 255, 255, 0), 0 0 30px rgb(255, 127, 0),
        0 0 40px rgb(255, 127, 0), 0 0 50px rgb(255, 127, 0),
        0 0 60px rgb(255, 127, 0), 0 0 70px rgb(255, 127, 0),
        0 0 80px rgb(255, 127, 0), 0 0 90px rgb(255, 127, 0),
        0 0 100px rgb(255, 127, 0);
    }
    16% {
      text-shadow: 0 0 10px rgba(255, 255, 255, 0),
        0 0 20px rgba(255, 255, 255, 0), 0 0 30px rgb(255, 255, 0),
        0 0 40px rgb(255, 255, 0), 0 0 50px rgb(255, 255, 0),
        0 0 60px rgb(255, 255, 0), 0 0 70px rgb(255, 255, 0),
        0 0 80px rgb(255, 255, 0), 0 0 90px rgb(255, 255, 0),
        0 0 100px rgb(255, 255, 0);
    }
    25% {
      text-shadow: 0 0 10px rgba(255, 255, 255, 0),
        0 0 20px rgba(255, 255, 255, 0), 0 0 30px rgb(127, 255, 0),
        0 0 40px rgb(127, 255, 0), 0 0 50px rgb(127, 255, 0),
        0 0 60px rgb(127, 255, 0), 0 0 70px rgb(127, 255, 0),
        0 0 80px rgb(127, 255, 0), 0 0 90px rgb(127, 255, 0),
        0 0 100px rgb(127, 255, 0);
    }
    33% {
      text-shadow: 0 0 10px rgba(255, 255, 255, 0),
        0 0 20px rgba(255, 255, 255, 0), 0 0 30px rgb(0, 255, 0),
        0 0 40px rgb(0, 255, 0), 0 0 50px rgb(0, 255, 0),
        0 0 60px rgb(0, 255, 0), 0 0 70px rgb(0, 255, 0),
        0 0 80px rgb(0, 255, 0), 0 0 90px rgb(0, 255, 0),
        0 0 100px rgb(0, 255, 0);
    }
    41% {
      text-shadow: 0 0 10px rgba(255, 255, 255, 0),
        0 0 20px rgba(255, 255, 255, 0), 0 0 30px rgb(0, 255, 127),
        0 0 40px rgb(0, 255, 127), 0 0 50px rgb(0, 255, 127),
        0 0 60px rgb(0, 255, 127), 0 0 70px rgb(0, 255, 127),
        0 0 80px rgb(0, 255, 127), 0 0 90px rgb(0, 255, 127),
        0 0 100px rgb(0, 255, 127);
    }
    50% {
      text-shadow: 0 0 10px rgba(255, 255, 255, 0),
        0 0 20px rgba(255, 255, 255, 0), 0 0 30px rgb(0, 255, 255),
        0 0 40px rgb(0, 255, 255), 0 0 50px rgb(0, 255, 255),
        0 0 60px rgb(0, 255, 255), 0 0 70px rgb(0, 255, 255),
        0 0 80px rgb(0, 255, 255), 0 0 90px rgb(0, 255, 255),
        0 0 100px rgb(0, 255, 255);
    }
    58% {
      text-shadow: 0 0 10px rgba(255, 255, 255, 0),
        0 0 20px rgba(255, 255, 255, 0), 0 0 30px rgb(0, 127, 255),
        0 0 40px rgb(0, 127, 255), 0 0 50px rgb(0, 127, 255),
        0 0 60px rgb(0, 127, 255), 0 0 70px rgb(0, 127, 255),
        0 0 80px rgb(0, 127, 255), 0 0 90px rgb(0, 127, 255),
        0 0 100px rgb(0, 127, 255);
    }
    66% {
      text-shadow: 0 0 10px rgba(255, 255, 255, 0),
        0 0 20px rgba(255, 255, 255, 0), 0 0 30px rgb(0, 0, 255),
        0 0 40px rgb(0, 0, 255), 0 0 50px rgb(0, 0, 255),
        0 0 60px rgb(0, 0, 255), 0 0 70px rgb(0, 0, 255),
        0 0 80px rgb(0, 0, 255), 0 0 90px rgb(0, 0, 255),
        0 0 100px rgb(0, 0, 255);
    }
    75% {
      text-shadow: 0 0 10px rgba(255, 255, 255, 0),
        0 0 20px rgba(255, 255, 255, 0), 0 0 30px rgb(127, 0, 255),
        0 0 40px rgb(127, 0, 255), 0 0 50px rgb(127, 0, 255),
        0 0 60px rgb(127, 0, 255), 0 0 70px rgb(127, 0, 255),
        0 0 80px rgb(127, 0, 255), 0 0 90px rgb(127, 0, 255),
        0 0 100px rgb(127, 0, 255);
    }
    83% {
      text-shadow: 0 0 10px rgba(255, 255, 255, 0),
        0 0 20px rgba(255, 255, 255, 0), 0 0 30px rgb(255, 0, 255),
        0 0 40px rgb(255, 0, 255), 0 0 50px rgb(255, 0, 255),
        0 0 60px rgb(255, 0, 255), 0 0 70px rgb(255, 0, 255),
        0 0 80px rgb(255, 0, 255), 0 0 90px rgb(255, 0, 255),
        0 0 100px rgb(255, 0, 255);
    }
    91% {
      text-shadow: 0 0 10px rgba(255, 255, 255, 0),
        0 0 20px rgba(255, 255, 255, 0), 0 0 30px rgb(255, 0, 127),
        0 0 40px rgb(255, 0, 127), 0 0 50px rgb(255, 0, 127),
        0 0 60px rgb(255, 0, 127), 0 0 70px rgb(255, 0, 127),
        0 0 80px rgb(255, 0, 127), 0 0 90px rgb(255, 0, 127),
        0 0 100px rgb(255, 0, 127);
    }
  }

  @keyframes rainbow-border {
    100%,
    0% {
      border-color: rgb(255, 0, 0);
    }
    8% {
      border-color: rgb(255, 127, 0);
    }
    16% {
      border-color: rgb(255, 255, 0);
    }
    25% {
      border-color: rgb(127, 255, 0);
    }
    33% {
      border-color: rgb(0, 255, 0);
    }
    41% {
      border-color: rgb(0, 255, 127);
    }
    50% {
      border-color: rgb(0, 255, 255);
    }
    58% {
      border-color: rgb(0, 127, 255);
    }
    66% {
      border-color: rgb(0, 0, 255);
    }
    75% {
      border-color: rgb(127, 0, 255);
    }
    83% {
      border-color: rgb(255, 0, 255);
    }
    91% {
      border-color: rgb(255, 0, 127);
    }
  }
  
  @keyframes rainbow-box-shadow {
    100%,
    0% {
      box-shadow: 0 0 10px rgba(255, 255, 255, 0),
        0 0 20px rgba(255, 255, 255, 0), 0 0 30px rgb(255, 0, 0),
        0 0 40px rgb(255, 0, 0), 0 0 50px rgb(255, 0, 0),
        0 0 60px rgb(255, 0, 0), 0 0 70px rgb(255, 0, 0),
        0 0 80px rgb(255, 0, 0), 0 0 90px rgb(255, 0, 0),
        0 0 100px rgb(255, 0, 0);
    }
    8% {
      box-shadow: 0 0 10px rgba(255, 255, 255, 0),
        0 0 20px rgba(255, 255, 255, 0), 0 0 30px rgb(255, 127, 0),
        0 0 40px rgb(255, 127, 0), 0 0 50px rgb(255, 127, 0),
        0 0 60px rgb(255, 127, 0), 0 0 70px rgb(255, 127, 0),
        0 0 80px rgb(255, 127, 0), 0 0 90px rgb(255, 127, 0),
        0 0 100px rgb(255, 127, 0);
    }
    16% {
      box-shadow: 0 0 10px rgba(255, 255, 255, 0),
        0 0 20px rgba(255, 255, 255, 0), 0 0 30px rgb(255, 255, 0),
        0 0 40px rgb(255, 255, 0), 0 0 50px rgb(255, 255, 0),
        0 0 60px rgb(255, 255, 0), 0 0 70px rgb(255, 255, 0),
        0 0 80px rgb(255, 255, 0), 0 0 90px rgb(255, 255, 0),
        0 0 100px rgb(255, 255, 0);
    }
    25% {
      box-shadow: 0 0 10px rgba(255, 255, 255, 0),
        0 0 20px rgba(255, 255, 255, 0), 0 0 30px rgb(127, 255, 0),
        0 0 40px rgb(127, 255, 0), 0 0 50px rgb(127, 255, 0),
        0 0 60px rgb(127, 255, 0), 0 0 70px rgb(127, 255, 0),
        0 0 80px rgb(127, 255, 0), 0 0 90px rgb(127, 255, 0),
        0 0 100px rgb(127, 255, 0);
    }
    33% {
      box-shadow: 0 0 10px rgba(255, 255, 255, 0),
        0 0 20px rgba(255, 255, 255, 0), 0 0 30px rgb(0, 255, 0),
        0 0 40px rgb(0, 255, 0), 0 0 50px rgb(0, 255, 0),
        0 0 60px rgb(0, 255, 0), 0 0 70px rgb(0, 255, 0),
        0 0 80px rgb(0, 255, 0), 0 0 90px rgb(0, 255, 0),
        0 0 100px rgb(0, 255, 0);
    }
    41% {
      box-shadow: 0 0 10px rgba(255, 255, 255, 0),
        0 0 20px rgba(255, 255, 255, 0), 0 0 30px rgb(0, 255, 127),
        0 0 40px rgb(0, 255, 127), 0 0 50px rgb(0, 255, 127),
        0 0 60px rgb(0, 255, 127), 0 0 70px rgb(0, 255, 127),
        0 0 80px rgb(0, 255, 127), 0 0 90px rgb(0, 255, 127),
        0 0 100px rgb(0, 255, 127);
    }
    50% {
      box-shadow: 0 0 10px rgba(255, 255, 255, 0),
        0 0 20px rgba(255, 255, 255, 0), 0 0 30px rgb(0, 255, 255),
        0 0 40px rgb(0, 255, 255), 0 0 50px rgb(0, 255, 255),
        0 0 60px rgb(0, 255, 255), 0 0 70px rgb(0, 255, 255),
        0 0 80px rgb(0, 255, 255), 0 0 90px rgb(0, 255, 255),
        0 0 100px rgb(0, 255, 255);
    }
    58% {
      box-shadow: 0 0 10px rgba(255, 255, 255, 0),
        0 0 20px rgba(255, 255, 255, 0), 0 0 30px rgb(0, 127, 255),
        0 0 40px rgb(0, 127, 255), 0 0 50px rgb(0, 127, 255),
        0 0 60px rgb(0, 127, 255), 0 0 70px rgb(0, 127, 255),
        0 0 80px rgb(0, 127, 255), 0 0 90px rgb(0, 127, 255),
        0 0 100px rgb(0, 127, 255);
    }
    66% {
      box-shadow: 0 0 10px rgba(255, 255, 255, 0),
        0 0 20px rgba(255, 255, 255, 0), 0 0 30px rgb(0, 0, 255),
        0 0 40px rgb(0, 0, 255), 0 0 50px rgb(0, 0, 255),
        0 0 60px rgb(0, 0, 255), 0 0 70px rgb(0, 0, 255),
        0 0 80px rgb(0, 0, 255), 0 0 90px rgb(0, 0, 255),
        0 0 100px rgb(0, 0, 255);
    }
    75% {
      box-shadow: 0 0 10px rgba(255, 255, 255, 0),
        0 0 20px rgba(255, 255, 255, 0), 0 0 30px rgb(127, 0, 255),
        0 0 40px rgb(127, 0, 255), 0 0 50px rgb(127, 0, 255),
        0 0 60px rgb(127, 0, 255), 0 0 70px rgb(127, 0, 255),
        0 0 80px rgb(127, 0, 255), 0 0 90px rgb(127, 0, 255),
        0 0 100px rgb(127, 0, 255);
    }
    83% {
      box-shadow: 0 0 10px rgba(255, 255, 255, 0),
        0 0 20px rgba(255, 255, 255, 0), 0 0 30px rgb(255, 0, 255),
        0 0 40px rgb(255, 0, 255), 0 0 50px rgb(255, 0, 255),
        0 0 60px rgb(255, 0, 255), 0 0 70px rgb(255, 0, 255),
        0 0 80px rgb(255, 0, 255), 0 0 90px rgb(255, 0, 255),
        0 0 100px rgb(255, 0, 255);
    }
    91% {
      box-shadow: 0 0 10px rgba(255, 255, 255, 0),
        0 0 20px rgba(255, 255, 255, 0), 0 0 30px rgb(255, 0, 127),
        0 0 40px rgb(255, 0, 127), 0 0 50px rgb(255, 0, 127),
        0 0 60px rgb(255, 0, 127), 0 0 70px rgb(255, 0, 127),
        0 0 80px rgb(255, 0, 127), 0 0 90px rgb(255, 0, 127),
        0 0 100px rgb(255, 0, 127);
    }
  }
}
